@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

/* .header {
  display: flex;
  flex-direction: row;
  
} */

button {
  padding: 8px 16px;
}

.left-links {
  display: flex;
  gap: 8px; 
  align-items: end;
  flex-direction: row;
  float: left;
  margin: 10px;

}

.right-links {
  display: flex;
  gap: 8px;
  float: right;
  margin: 10px;
}

ul { 
  list-style: none;
}

a {
  text-decoration: none;
  color: gray;
}

.content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
 
  gap: 16px;
  margin-top: 10px;


}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, 
.fotter {
  padding: 16px;
  
}

.fotter {
  background: #eeeeee; 
}

